<nav class="studio-nav">
    <NavLink href="/" Match="NavLinkMatch.All" class="nav-item">
        <span class="nav-icon">▣</span> Dashboard
    </NavLink>
    <NavLink href="/tenants" Match="NavLinkMatch.Prefix" class="nav-item">
        <span class="nav-icon">⊞</span> Tenants
    </NavLink>
    <NavLink href="/users" Match="NavLinkMatch.Prefix" class="nav-item">
        <span class="nav-icon">⊙</span> Users
    </NavLink>
    <NavLink href="/collections" Match="NavLinkMatch.Prefix" class="nav-item">
        <span class="nav-icon">▤</span> Collections
    </NavLink>
</nav>
